/*全局css文件*/
/* 默认字体颜色 */
.font-color{
	color: #636263;
}
/* 默认选择字体颜色 */
.font-active-color{
	color: #49DBFB;
}


/*自定义样式*/
.color999{
	color: #999999;
}

.paddingtop36{
   padding: 36rpx 0;
}

.colorgrey{
	color: #70788C;
}
.colorgreen{
	color: #36B378;
}
/* 背景颜色 */
.bg-color{
	background-color: #f2f4f7;
}
/*body属性*/
body{
	line-height: 1.42857143;
}
