/*全局css文件*/
/* 默认字体颜色 */
.font-color{
	color: #636263;
}
/* 默认选择字体颜色 */
.font-active-color{
	color: #49DBFB;
}

/* videolist-默认items背景颜色 */
.items-background{
	width: 40rpx;
	background-color:#666666 ;
	margin: 10rpx 0;
	padding: 2rpx 10rpx;
	font-size: 20rpx;
	color:#FFFFFF;

}
/*videolist-默认items选中颜色 */
.items-active-background{
	width: 40rpx;
	background-color:#339966;
	margin: 10rpx 0;
	padding: 2rpx 10rpx;
	font-size: 20rpx;
	color:#FFFFFF;
}
/* videolist-默认items-background背景颜色 */
.items-content{
		width: 100%;
		height: 200rpx;
		background-color:#EEEEEE ;
		border: 1rpx solid #EEEEEE;
				border-radius: 4rpx;
}
/*videolist-默认items-background选中颜色 */
.items-content-active{
		width: 100%;
		height: 200rpx;
		border: 1rpx solid #339966;
		background-color: #FFFFFF;
				border-radius: 4rpx;
}

/*自定义样式*/
.color999{
	color: #999999;
}

.paddingtop36{
   padding: 36rpx 0;
}

.colorgrey{
	color: #70788C;
}
.colorgreen{
	color: #36B378;
}
/* 背景颜色 */
.bg-color{
	background-color: #f2f4f7;
}
/*body属性*/
body{
	line-height: 1.42857143;
}
